# Thoses are the default development values
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321/
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=YOUR_SUPABASE_PUBLISHABLE_KEY
NEXT_SITE_URL=http://localhost:3000
NEXT_REDIRECT_URLS=http://localhost:3000/
